.diver_left{
    border-radius: 20px;
    border: 1px solid rgb(207, 214, 216);
    display: flex;
    height: auto;
    width: auto;
    max-width: 50px; /* Set the maximum width to 50px */
    background-color: #c2a512;
    margin-left: 20%;
    justify-content: center;
    align-items: center;
}


.diver_right{
    border-radius: 20px;
    border: 1px solid rgb(207, 214, 216);
    display: flex;
    height: auto;
    width: auto;
    max-width: max-content;
    background-color: #277c54;
    margin-left: 60%;
    justify-content: center;
    align-items: center;
}
.diver_left{
    border-radius: 20px;
    border: 1px solid rgb(207, 214, 216);
    display: flex;
    height: auto;
    width: auto max-content 30px;
    padding: 0 30px; /* Add padding to achieve the desired width */
    background-color: #c2a512;
    margin-left: 20%;
    justify-content: center;
    align-items: center;
}

.diver_left{
    border-radius: 20px;
    border: 1px solid rgb(207, 214, 216);
    display: flex;
    height: auto;
    width: auto max-content 30px;
    background-color: #c2a512;
    margin-left: 20%;
    justify-content: center;
    align-items: center;
}
.p_diver{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10px;
    margin-top: 10px;
}
body { 
    margin: 0;
    padding: 0;
    background-color: #E8E9E0;
    background-position: fixed center; 
    width: 100%;
    overflow:hidden;
  }

#main {
    position: absolute;
    display: flex;
    background: fixed center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
/*Debut contenent*/
.entete{
    background-color: #D2CEBA;
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: space-around;
    align-items: center;
}

.contenent{
    margin-top: 9px;
    display: block;
    background-color: #E8E9E0;
    width: 100%;
    height: 80%;
    overflow-y: auto;
}

.footer{
    display: flex;
    background-color: #E8E9E0;
    width: 100%;
    height: 10%;
    justify-content: space-between;
    align-items: center;
}
.footer input{
    background-color: #D1D2CF;
    border: none;
    background-color: rgb(201, 206, 197);
    width: 80%;
    height: 40px;
    border-radius: 20px;
    margin-left: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding-left: 10px;
    text-align: center;
}

.bla{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}
.footer button{
    background-color: #E8E9E0;
    width: 15%;
    height: 40px;
    border: none;
}
/*Fin contenent*/

.entete nav{  
    display: flex;
  width: 30%;
  align-items: center;
  justify-content: space-between;
}

.imge{
    border-radius: 50%;
    width: 39px;
    height: 39px;
}

#contacts {
    display: block;
    background-color: rgba(207, 214, 216, 0.815);
    width: 60%;
    height: 100%;
    overflow: hidden; /* Add this line */
}

#conversation {
    display: block;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height:auto;/* Update this line */
    overflow: none; /* Update this line */
}

#bar_conversation img{
    width: 30px;
    height: 30px;
    border-radius: 50%;

}
.bar_conversation {
    border: 1px solid rgb(207, 214, 216);
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(248, 248, 248, 0.671);
    width: 100%;
    height: 60px;
}